.qfdc{}
.qfdc_cadre{ line-height:13px !important;}
.qfdc_table{ width:500px ; }
.qfdc_td_image{ width:50px;}
.qfdc_td_info{ padding-left:5px; }
.qfdc_titre{ font-size:12px; }
.qfdc_titre_lien{ color:#196da3; }
.qfdc_sous_titre{ color:#196da3; font-size:11px;}
.qfdc_date{ font-size:10px; }
.qfdc_lieu{ font-size:10px; }
