{% extends 'FrontBundle:Default:index.html.twig'%}

{% block body_site %}
<div class="content">
	<div class="container_12 p_bot">
		<div id="indisponible" style="text-align:center;">La page demandé n'est pas disponible pour le moment. <br>Une maintenance de cette page est probablement en cours.</div>
	</div>
</div>
{% endblock%}

