{% extends 'FrontBundle:Default:index.html.twig' %}

{% block body_site %}
<div style="border: 1px #000 solid; margin: 10px; padding: 10px;">
		{{ html.AfficheBloc(page,'Demo') }}
</div>
{% endblock %}
