    <div class="grid_12">
      <div class="block2">
        <h3 class="upp">have questions? <br>ask a specialist</h3>
        <div class="c_phone">800 123 1234</div>
        <address>7 days a week  <br>from 8:00 am<br>to 2:00 am</address>
        <div class="grid_3 fright omega">
        <a href="#" class="chat">
          online <br>support chat
        </a>
        </div>
      </div>
    </div>
