    <div class="grid_12">
      <blockquote class="bq1">
      <div class="grid_3 alpha">
        <div class="bq_left">
          <img src="{{ asset('bundles/sturbain/images/page1_img.jpg') }}" alt="">
          <span><strong></strong></span>
        </div>
      </div>  
      <p>Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque penatibus et mgnis dis parturient montes ascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna onec accumsan malesuada orci. Donec sit amet eros. <img src="images/quotes.png" alt=""></p>
      <div class="bq_bot">John  Cox <div class="upp">(Canadian emigrant)</div></div>
      </blockquote>
    </div>