{% import 'FrontBundle:Macro:AfficheBloc.html.twig' as html %}

        <div id="" class="box-1 bot " style="">
               <div class="title-box">
                  <div class="inner-box">
                     <h2></h2>
                  </div>
               </div>
               <div class="content-box-1">
                   <div class="wrapper-extra">
	                    <div class="extra-wrap">
							{{ html.AfficherColHTML(section,theme)}} 
	                    </div>
                    </div>
               </div>
            </div>