<!--==============================header=================================-->

<div class="head">	     
         <header>
               <div class="logo-phone">
               	   <h1><a href="{{ path('zephyr_homepage') }}"><img src="{{ asset('bundles/front/images/themes/zephyr/logo.png') }}" alt="Zéphyr Médias"></a><span>Agence Web</span></h1>
                   <div class="telephone">
	                   <span>(418) 639-2357</span>
	                   <span>Sur heures de bureau</span>
                   </div>
               </div>
      </header>
      <div class="div-nav">
         	{% block menuSite %}{{ include(['FrontBundle:',theme,':menu.html.twig']|join) }}{% endblock%}           
            <div class="clear"></div>
       </div>
</div> 